footer {
  /*-webkit-clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);*/
  @apply border-t-[6px] border-black dark:border-white;
}

iframe {
  height: 300px;
  width: 100%;
}

@media (min-width: 768px) {
  footer {
    /*-webkit-clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);*/
  }
  iframe {
    height: 600px;
    min-width: 500px;
    width: 60%;
    max-width: 700px;
  }
}
