@use "../../variables.scss" as variables;

.main--section {
  position: relative;
  backdrop-filter: none;
  width: 100vw;

  div {
    width: 400px;
    margin: 0;
    color: variables.$theme-color;
    box-sizing: border-box;

    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);

    @media (max-width: 600px) {
      width: 100%;
      top: 20%;

      transform: translateX(-50%);
      left: 50%;
      text-align: center;
    }

    span {
      font-size: 32px;
    }
  }
}

.test-words {
  background-image: url("/public/matrix-code.gif");
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 30px;
}
