
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Moshi Li</title>
    <meta name = "viewpoint" content="width=device-width, initial-scale=1.0">    

    <!--bootstrap && font-awesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="/css/index.css">  
</head>
<body>
    <div id = "head">
        <div id = "head-left">
            <img src = "/images/avatar.JPG">
        </div>
        <div id = "head-right">
            <h1 class = "name">Moshi Li</h1>
            <p class = "profession">Software Engineer</p>
            
            <div id = "head-right-links">
                <a class="btn btn-social-icon btn-sm btn-github" href="https://github.com/MoshiLi95" target="_blank">
                    <span class="fa fa-github"></span>
                </a>

                <a class="btn btn-social-icon btn-sm btn-linkedin" href="https://www.linkedin.com/in/%E5%A2%A8%E7%9F%B3-%E6%9D%8E-86328b160/" target="_blank">
                    <span class="fa fa-linkedin"></span>
                </a>
            </div>

        </div>

    </div>

    <div id = "container">
        <!--Blocks on the left-->
        <div id = "l-blocks">
            <!--About Me-->
            <div class = "large-section">
                <h1>About Me</h1>
                <p>I consider myself a skilled technical engineer who is 
                    proficient in software development. 
                    I have professional experience developing full 
                    stack web applications with both Spring MVC (Java) and NodeJs. 
                    I am looking to obtain a professional position in internet industry, 
                    utilizing my relevant experience, 
                    technical expertise and, problem-solving skills.</p>
            </div>
            <!--End About Me-->

            <!--Project-->
            <div class = "large-section">
                
                <h1>Latest Project</h1>

                <div class = "project">
                    <img src="/images/demo.jpg">
                    <div>
                        <h2>React Web Application Demo</h2>
                        <p>A web application built with React.js for presentation purposes.
                        </p>
                        <div>
                        <a href= "https://github.com/MoshiLi95/my_demo_react" target="_blank">
                            <i class="fa fa-external-link" style = "margin-right: 5px;"></i>Find out more
                        </a>
                        </div>
                        <div>
                        <a href= "http://ec2-18-191-187-229.us-east-2.compute.amazonaws.com" target="_blank">
                            <i class="fa fa-external-link" style = "margin-right: 5px;"></i>Try sample
                        </a>
                        </div>
                    </div>
                </div>

                <hr>

                <div class = "project">
                    <img src="/images/customer_service_icon.jpeg">

                    <div>
                        <h2>Customer Service Slim</h2>
                        <p>A slim node js based web application that allows customer service agents to talk
                            to customers.
                        </p>

                        <div>
                        <a href= "https://github.com/MoshiLi95/Customer-Service-Slim" target="_blank">
                            <i class="fa fa-external-link" style = "margin-right: 5px;"></i>Find out more
                        </a>
                        </div>
                        <div>
                        <a href= "http://ec2-18-191-2-27.us-east-2.compute.amazonaws.com" target="_blank">
                            <i class="fa fa-external-link" style = "margin-right: 5px;"></i>Try sample
                        </a>
                        </div>
                    </div>
                </div>


            </div>
            <!--End Project-->

            <!--Work-->
            <div class = "large-section">
                <h1>Work Experience</h1>
                <div class = "work">
                    <h3>Java Developer(Intern) | Hantotem | June 2017 – August 2017
                    </h3>
                    <p>&bull; Developed Spring MVC based web application with senior developers.
                        <br>&bull; Built APIs for the websites.
                        <br>&bull; Built new UI functionality using Vue.js.
                    </p>
                </div>

                <div class = "work">
                    <h3>Software Tester(Intern) | Remark Holdings | June 2016 – August 2016</h3>
                    <p>&bull; Worked with Quality Assurance team, testing IOS application KanKan.</p>
                </div>

                <div class = "work">
                    <h3>English Teacher | Daka Essay | June 2015 – July 2015</h3>
                    <p>&bull; Taught a class of 9 students aged from 16 to 22. 
                        <br> &bull; Prepared students for IELTS exam.
                    </p>
                </div>
            </div>
            <!--End Wrok-->

        </div>
        <!--Eed left blocks-->

        <!--Right Blocks-->
        <div id = "r-blocks">
                
                <div  class = "large-section">
                    <h1>Contact Me</h1>


                    <i class="contact-element fa fa-envelope-square" >
                        <a class = "light-font" href= "mailto:li.moshi95@gmail.com" >li.moshi95@gmail.com</a>
                    </i>
                    <i class="contact-element fa fa-envelope-square" >
                        <a class = "light-font" href= "mailto:li1800@purdue.edu" >li1800@purdue.edu</a>
                    </i>

                    <i class="contact-element fa fa-phone-square" >
                        <span class="light-font" style = "margin-left: 5px;">765-337-0381</span>
                    </i>
                </div>



                <div class = "large-section">
                    <h1>Technical Skills</h1>


                    <div class = "skill">
                        <h3 class = "skill-lbl">HTML,CSS,JavaScript</h3>
                        <span class="skill-level light-font">Intermediate</span>

                        <div class="skill-bar-container">
                            <div class="skill-bar" style="width: 85%">                            
                            </div>
                        </div>
                        
                    </div>

                    <div class = "skill">
                        <h3 class = "skill-lbl">Java</h3>
                        <span class="skill-level light-font">Intermediate</span>

                        <div class="skill-bar-container">
                            <div class="skill-bar" style="width: 75%">                            
                            </div>
                        </div>
                    </div>

                    <div class = "skill">
                        <h3 class = "skill-lbl">C</h3>
                        <span class="skill-level light-font">Intermediate</span>

                        <div class="skill-bar-container">
                            <div class="skill-bar" style="width: 65%">                            
                            </div>
                        </div>
                    </div>

                    <div class = "skill">
                        <h3 class = "skill-lbl">Python</h3>
                        <span class="skill-level light-font">Intermediate</span>

                        <div class="skill-bar-container">
                            <div class="skill-bar" style="width: 65%">                            
                            </div>
                        </div>
                    </div>

                    <div class = "skill">
                        <h3 class = "skill-lbl">React.js</h3>
                        <span class="skill-level light-font">Intermediate</span>

                        <div class="skill-bar-container">
                            <div class="skill-bar" style="width: 50%">                            
                            </div>
                        </div>
                    </div>


                    <div class = "skill">
                        <h3 class = "skill-lbl">R</h3>
                        <span class="skill-level light-font">Beginner</span>

                        <div class="skill-bar-container">
                            <div class="skill-bar" style="width: 50%">                            
                            </div>
                        </div>
                    </div>

                    <div class = "skill">
                        <h3 class = "skill-lbl">Swift</h3>
                        <span class="skill-level light-font">Beginner</span>

                        <div class="skill-bar-container">
                            <div class="skill-bar" style="width: 30%">                            
                            </div>
                        </div>
                    </div>
                </div>


                <div class = "large-section">
                    <h1>Education</h1>

                    <i class="fa fa-graduation-cap" >
                        <h2 style="display: inline-block">BS Computer Science</h2>
                    </i>
                    <h4 style="margin-left: 25px;"class="light-font">Purdue University (2014-2018)</h4>

                </div>

                <div class = "large-section">
                    <h1>Languages</h1>
                    <h3>English: 
                        <span class = "light-font">proficient</span>
                        <i class="star fa fa-star" ></i>
                        <i class="star fa fa-star" ></i>
                        <i class="star fa fa-star" ></i>
                        <i class="star fa fa-star" ></i>
                    </h3>

                    <h3>Chinese: 
                        <span class = "light-font">native speaker</span>
                        <i class="star fa fa-star" ></i>
                        <i class="star fa fa-star" ></i>
                        <i class="star fa fa-star" ></i>
                        <i class="star fa fa-star" ></i>
                        <i class="star fa fa-star" ></i>
                    </h3>
                </div>
        </div>



    </div>

</body>

</html>
