@use "../../variables.scss" as variables;

.about--section {
  width: max(50vw, 500px);

  color: variables.$theme-color;

  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;

  padding: 20px;
  row-gap: 20px;

  backdrop-filter: blur(10px);

  @media (max-width: 600px) {
    width: 100%;
    height: auto;
    padding-bottom: 50px;
  }

  .about--img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .selfie {
      height: 240px;
      width: 340px;
      position: relative;
      @media (max-width: 800px) {
        height: 210px;
        width: 300px;
      }
      &::before {
        content: ".";
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;

        background-color: transparent;
        border: 1px solid variables.$theme-color;

        transform: translate(20px, 20px);
        transition: 0.3s;

        left: 0;
        top: 0;
      }

      img {
        filter: url("#sea") blur(1px) contrast(0.5) grayscale(0.3);
        width: 100%;
        height: 100%;
      }

      &:hover::before {
        transform: translate(10px, 10px);
      }
      &:hover {
        img {
          position: relative;
          filter: inherit;
          z-index: 20;
        }
      }
    }
  }

  .about--content {
    width: 100%;
    position: relative;
    @media (max-width: 600px) {
      max-width: 90vw;
      min-width: 0;
    }

    p {
      font-size: 18px;
      width: 100%;
    }
    span {
      font-size: 24px;
      font-weight: 600;
    }
  }
}
