.navigation {
  display: none;

  width: 100vw;
  height: 100vh;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;

  .menu {
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    max-width: 650px;

    left: 60px;
    border-right: 2px solid #00ff41;

    background-color: #192539;

    @media (max-width: 600px) {
      top: 50px;
      left: 0px;
      height: calc(100vh - 50px);
    }

    .menu--list {
      width: 100%;

      .menu--list--item {
        width: 100%;
        box-sizing: border-box;
        color: #00ff41;
        cursor: pointer;

        border-bottom: 2px solid #00ff41;
        padding: 0px 10px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover {
          color: #ffff66;
          border-bottom: 2px solid #ffff66;
        }

        span {
          font-size: 64px;
          font-weight: 400;
        }
      }
    }
  }

  .backdrop {
    position: absolute;

    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
  }
}
