@use "../../variables.scss" as variables;

.contact--section {
  width: 500px;
  position: relative;

  padding: 20px;

  color: variables.$theme-color;

  @media (max-width: 600px) {
    width: 100vw;
    height: 50vh;
  }
  .contact--content {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    a {
      color: variables.$theme-color;
      font-size: 36px;
      &:hover {
        color: variables.$secondary-color;
      }
    }
  }
  p {
    text-align: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
  }
}
