@use "../../variables.scss" as variables;

.header {
  position: fixed;

  background-color: variables.$bg-color;
  background-image: url("/matrix-code.gif");

  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  border-right: 2px solid variables.$theme-color;

  display: flex;
  flex-direction: column;

  z-index: 10;

  @media (max-width: 600px) {
    width: 100vw;
    height: 50px;

    display: flex;
    flex-direction: row-reverse;

    border-bottom: 2px solid variables.$theme-color;
  }

  .header--button {
    width: 60px;
    height: 120px;

    border: none;
    cursor: pointer;
    border-bottom: 2px solid variables.$theme-color;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 600px) {
      width: 50px;
      height: 50px;
      border-left: 2px solid variables.$theme-color;
      border-bottom: none;
    }

    .header--dot {
      background-color: variables.$theme-color;
      height: 6px;
      width: 6px;
      border-radius: 50%;

      @media (max-width: 600px) {
        height: 4px;
        width: 4px;
      }
    }

    .header--dot--mid {
      margin-top: 6px;
      margin-bottom: 6px;
      @media (max-width: 600px) {
        margin-top: 4px;
        margin-bottom: 4px;
      }
    }
  }

  h1 {
    color: variables.$theme-color;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);

    @media (max-width: 600px) {
      writing-mode: horizontal-tb;
      transform: none;
    }
  }
}
