.contact {
  margin: 200px 0 200px 0;
  width: 50%;
  @media (max-width: 800px) {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
  color: #f8f8f2;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    margin: 0 20px 0 20px;
  }
  span {
    color: #ff5555;
  }
  p {
    margin: 20px 0 20px 0;
    width: 50%;
    @media (max-width: 800px) {
      width: initial;
    }
  }
}
