.contact--form--container {
  @apply fixed  bottom-4 right-4  h-16 w-16 bg-transparent;
}

.contact--form {
  @apply absolute -top-2.5 right-0 flex -translate-y-full flex-col overflow-hidden bg-gray-100 dark:bg-zinc-700;
}

.contact--icon {
  @apply absolute flex h-full w-full cursor-pointer items-center justify-center rounded-full bg-blue-500 p-2 text-3xl text-white transition
  hover:scale-110 dark:bg-green-500;
}

.form--input {
  @apply block w-full rounded-md border-0 px-3 py-1.5 
  text-gray-900 shadow-sm outline-none ring-1 ring-inset 
  ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600
  dark:text-white dark:focus:ring-green-600
  sm:text-sm sm:leading-6;
}

.form--input.form--error {
  @apply border-red-400;
}
