.three--container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top:0;
}

.portfolio {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.2);
  overflow: hidden;

  display: flex;


  @media (max-width: 600px) {
    flex-wrap: wrap;
  }

}

section{
  width: 100vw;
  height:100vh;
  flex: 0 0 auto;

  box-sizing: border-box;
  padding-left: 60px;
  padding-top: 0px;
  @media (max-width: 600px) {
    flex-wrap: wrap;
    padding-left: 0px;
    padding-top: 50px;
  }
}





