@use "./variables.scss" as variables;

.three--container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.portfolio {
  position: relative;

  background-color: rgba(255, 255, 255, 0.2);

  @media (max-width: 600px) {
    flex-wrap: wrap;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

section {
  width: 100vw;
  height: 100vh;
  flex: 0 0 auto;

  backdrop-filter: blur(10px);

  box-sizing: border-box;

  padding-left: 60px;
  padding-top: 0px;

  border-left: 2px solid variables.$theme-color;

  @media (max-width: 600px) {
    width: 100vw;

    flex-wrap: wrap;
    padding-left: 0px;
    padding-top: 50px;

    border-left: none;
    border-top: 2px solid variables.$theme-color;
  }
}

.intro {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 9999;
  background-color: variables.$theme-color;
}

.container {
  width: calc(100vw + max(50vw, 500px) + 600px + max(100vw, 1500px) + 500px);
  height: 100vh;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 600px) {
    width: 100vw;
    height: auto;
  }
}

.red {
  background-color: transparent;
}
.red {
  background: red;
}
.orange {
  background: orange;
}
.purple {
  background: purple;
}
.blue {
  background-color: blue;
}
