.three--container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top:0;
}

.portfolio {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.2);
}

