@use "../../variables.scss" as variables;

.modal--container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  z-index: 20;

  .modal--backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    backdrop-filter: blur(10px);
  }

  .modal--dialog {
    position: relative;

    max-width: min(700px, 90vw);
    min-width: min(500px, 90vw);
    min-height: 90vh;

    border: 2px solid variables.$theme-color;
    background-color: variables.$bg-color;

    .modal--btn {
      position: absolute;
      top: 6px;
      right: 6px;

      height: 30px;
      width: 30px;
      cursor: pointer;

      border: 2px solid variables.$theme-color;

      &:hover {
        transform: scale(1.1);
      }

      .modal--btn--left {
        position: absolute;

        width: 100%;
        height: 2px;
        background-color: variables.$theme-color;

        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
      }
      .modal--btn--right {
        width: 100%;
        height: 2px;
        background-color: variables.$theme-color;

        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }
}
